
.topnav {
  overflow: hidden;
    list-style-type: none;
    border: 1px solid #000000;
    background-color: #94A696;
    margin-right: 100px;
    margin-left: 100px;
    font-family: "Playfair Display", serif;

}
  .topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #6D1A2D;
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #bfa2f5d8;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;

  }
 